<% content_for :head do %>
  <%= @universe.name %>
<% end %>

<div class="row">
  <div class="col-xs-12 page-header">
      <h1><%= @universe.name %></h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-8">
    <span id="description-text"><%= render_markdown(@universe.description) %></span> <a href="#" data-toggle="modal" data-target="#descriptionModal">edit</a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-4">
    <h3 class="text-center">Events</h3>
    <div class="text-center"><%= pluralize(@universe.events.length, "event") %></div>
    <div class="row">
      <% @universe.events.sort { |a, b| a.updated_at <=> b.updated_at }.each do |event| %>
        <div class="col-xs-8">
          <strong><%= event.name %></strong>
        </div>
        <div class="col-xs-4 text-muted text-right">
          <%= event.time_instant.slot_1.to_s + " " + event.time_instant.era.abbreviation %>
        </div>
        <div class="col-xs-12">
          <p><%= event.description %></p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <h3 class="text-center">People</h3>
    <div class="text-center"><%= pluralize(@universe.people.length, "person") %></div>
    <div class="row">
      <% @universe.people.sort { |a, b| a.updated_at <=> b.updated_at }.each do |person| %>
        <div class="col-xs-8">
          <strong><%= person.name %></strong>
        </div>
        <div class="col-xs-4 text-muted text-right">

        </div>
        <div class="col-xs-12">

        </div>
      <% end %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <h3 class="text-center">Locations</h3>
    <div class="text-center"><%= pluralize(@universe.locations.length, "location") %></div>
    <div class="row">
      <% @universe.locations.sort { |a, b| a.updated_at <=> b.updated_at }.each do |location| %>
        <div class="col-xs-8">
          <strong><%= location.name %></strong>
        </div>
        <div class="col-xs-4 text-muted text-right">
          <%= location.part_of.nil? ? "" : location.part_of.name %>
        </div>
        <div class="col-xs-12">
          <p><%= location.description %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div id="descriptionModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Description</h4>
      </div>
      <%= form_tag("/#{@universe.name}/description", id: "update-description-form", remote: true) do %>
        <div class="modal-body">
          <div class="form-group">
            <%= text_area_tag(:description, "", class: "form-control", rows: "12") %>
          </div>
        </div>
        <div class="modal-footer">
          <%= submit_tag("Update", class: "btn btn-primary") %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(function() {
    $("#descriptionModal").on('shown.bs.modal', function () {
      $.ajax({
        url: "/<%= @universe.name %>/description",
        processData: false,
        contentType: false,
        accepts: 'script',
      });

      //$("#description").val($("#description-text").html());
      $("#description").focus();
    });
  });
</script>
