<% content_for :head do %>
  <%= @universe.name %>
<% end %>

<div class="row">
  <div class="col-xs-12 page-header">
      <h1><%= @universe.name %></h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-8">
    <%= @universe.description %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-4">
    <h3 class="text-center">Events</h3>
    <div class="text-center"><%= pluralize(@universe.events.length, "event") %></div>
    <div class="row">
      <% @universe.events.sort { |a, b| a.updated_at <=> b.updated_at }.each do |event| %>
        <div class="col-xs-8">
          <strong><%= event.name %></strong>
        </div>
        <div class="col-xs-4 text-muted text-right">
          <%= event.time_instant.slot_1.to_s + " " + event.time_instant.era.abbreviation %>
        </div>
        <div class="col-xs-12">
          <p><%= event.description %></p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <h3 class="text-center">People</h3>
    <div class="text-center"><%= pluralize(@universe.people.length, "person") %></div>
    <div class="row">
      <% @universe.people.sort { |a, b| a.updated_at <=> b.updated_at }.each do |person| %>
        <div class="col-xs-8">
          <strong><%= person.name %></strong>
        </div>
        <div class="col-xs-4 text-muted text-right">

        </div>
        <div class="col-xs-12">

        </div>
      <% end %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <h3 class="text-center">Locations</h3>
    <div class="text-center"><%= pluralize(@universe.locations.length, "location") %></div>
    <div class="row">
      <% @universe.locations.sort { |a, b| a.updated_at <=> b.updated_at }.each do |location| %>
        <div class="col-xs-8">
          <strong><%= location.name %></strong>
        </div>
        <div class="col-xs-4 text-muted text-right">
          <%= location.part_of.nil? ? "" : location.part_of.name %>
        </div>
        <div class="col-xs-12">
          <p><%= location.description %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
